.container-feedback-arrow {
  width: 60px;
  height: 60px;
  line-height: 67px;
  color: #3270fc;
  background: #fff;
  border-radius: 100%;
  transition: all 0.5s ease 0s;
  border: 4px solid #f2f4f9;
  box-shadow: -6px 20px 30px rgb(15 18 22 / 1%);
  font-size: 24px;
  cursor: pointer;
}
.container-feedback-arrow:hover {
  color: white;
  background-color: #3270fc;
}
.left {
  position: absolute;
  top: 40%;
  left: 0;
}
.right {
  position: absolute;
  top: 40%;
  right: 0;
}
.container-feedback {
  padding: 7% 0 3% 0;
  background-image: url(https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 10%;
}
.container-feedback-title {
  text-align: center;
}
.container-feedback-title h4 {
  color: #d2093c;
  font-weight: 700;
}
.container-feedback-title h2 {
  font-size: 44px;
  margin: 0;
}
.container-card-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container-card-student p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2rem;
  padding: 5%;
}
.container-feedback .card-student {
  width: 32%;
  margin-right: 1%;
  background-color: white;
  padding: 3%;
}

.container-feedback .card-student img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.container-image {
  display: flex;
  align-items: center;
}
.container-number {
  border-top: 1px solid #0f121614;
  border-bottom: 1px solid #0f121614;
  width: 98%;
  margin: auto;
  display: flex;
}
.text-number {
  margin: 0 0 0.5rem 0;
  font-size: 50px;
}
.card-number {
  width: 24%;
  padding: 3% 0 3% 0;
}
.border-left-right {
  border-right: 1px solid #0f121614;
  border-left: 1px solid #0f121614;
}