.section-lesson {
  margin-top: 100px;
}

.lesson-title {
  text-align: center;
}

.lesson-title h5 {
  margin: 0;
}

.lesson-title h2 {
  margin: 0;
  font-size: 44px;
}

.container-card-lesson {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-lesson {
  padding: 80px 40px 80px 40px;
  border-radius: 10px;
  box-shadow: 0px 30px 60px 0px rgb(15 18 22 / 20%);
  width: 30%;
}

.container-lesson-start h2 {
  font-size: 44px;
  margin: 0;
}

.icon-check-lesson {
  background: rgba(210, 9, 60, 0.1);
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.lesson-start-button {
  height: 60px;
  width: 150px;
  background-color: #3270fc;
  cursor: pointer;
  color: #fff;
  border-radius: 6%;
}